/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}
#messi {
  width: 100%; /* Set the width to 100% of its container */
  max-width: 400px; /* Set a maximum width if needed */
  height: auto; /* Maintain the aspect ratio */
  border: 2px solid #333; /* Add a border */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  margin: 10px; /* Add some margin for spacing */
}
#Ronaldo {
  width: 100%; /* Set the width to 100% of its container */
  max-width: 400px; /* Set a maximum width if needed */
  height: auto; /* Maintain the aspect ratio */
  border: 2px solid #333; /* Add a border */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  margin: 10px; /* Add some margin for spacing */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
